
/* @font-face{
    font-family: BebasNeueBold;
    src: url(../fonts/allfonts/BebasNeue\ Bold.ttf);
    
} */

@font-face {
    font-family: BebasNeueBold;
    src: url(../fonts/allfonts/BebasNeue\ Bold.ttf);
}

@font-face {
    font-family: BebasNeueRegular;
    src: url(../fonts/allfonts/BebasNeue\ Regular.ttf);
}

@font-face {
    font-family: AlfaSlabOne;
    src: url(../fonts/allfonts/AlfaSlabOne-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/allfonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family:MontserratBold;
    src: url(../fonts/allfonts/Montserrat-Bold.ttf);
}

body{
    margin: 0;
    padding: 0;
    font-family: BebasNeueBold;
    font-weight: 400;
    font-size: 16px;
    color: #3d2514;

}

header{
   background-image: url(../images/background.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

}


.container{
    width: 90%;
    margin: 0 auto;
    padding: 14px 0;
}

.header_part{
    overflow: hidden;
}

.logo{
    width: 20%;
    float: left;
}

.logo img{
    width: 100%;
}
.menu_bar{
    width: 50%;
    float: right;
}

.menu_p{
    margin-bottom: 0;
    margin-top: 0;
    font-family:MontserratBold;
    font-size: 16.67px;
    color: #3d2514;
    text-align: right;
}
.menu_bar  ul{
    float: right;
    margin-top:16px;
}

.menu_bar ul li{
    list-style: none;
    float: left;
}

.menu_bar ul li:last-child a {
    padding-right: 0;
}

.menu_bar ul li a{
    display: inline-block;
    padding: 0px 30px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20.83px;
    color: #3d2514;
    text-decoration: none;
    text-transform: uppercase;
    
}


/* banner part start here */

.banner_part{
    overflow: hidden;
    padding-bottom: 125px;

}
.content_part{
    width: 40%;
    float: left;
    margin-top: 100px;
}

.content_p{
    width: 76%;
    padding: 8px 12px;
    font-family: BebasNeueRegular;
    font-size: 23.65px;
    border: 2px dashed #3d2514;
}

.burger_heading1{
    font-family: AlfaSlabOne;
    margin: 0;
    font-size: 100px;
    color: #3d2514;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.heading_week{
    margin: 0;
    font-family: AlfaSlabOne;
    font-size: 56.3px;
    color: #3d2514;
    text-transform: uppercase;
    letter-spacing: 5px;

}

.header_images{
    position: relative;
    
}

.drinks{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 40px;
}
.drinks img{
    width: 100%;

}

.french_fie{
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 280px;
    margin-top: 100px;

}
.french_fie img{
    width: 100%;

}

.foods_burger{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 158px;
    margin-right: 70px;

}

.foods_burger img{
    width: 100%;

}

.foods_part{
    position: relative;
    width: 55%;
    float: right;
   

}

.main_rate_box{
    position: absolute;
    padding: 12px;
    left: 60px;
    margin-top: 380px;
    background-color: #bf2222;
    border-radius: 50%;
    
}

.rate_box{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px dashed white;
    text-align: center;
    
}
.rate_box p{
    
    font-size: 25px;
    color: white;
    text-align: center;
    
    

}

.rate_box p span{
    font-size: 50px;
}


/* popular section start here */

.popular{
    padding: 50px 0;
   
}


.container2{
    width:84%;
    margin: 0 auto;
   
}

.image_container{
    overflow: hidden;

}

.left_populer{
    width: 48%;
    float: left;
    position: relative;

}

.left_popular_image img{
    width: 100%;
}
.popular_content{
    position: absolute;
    top: 15px;
    left:15px;
}

.popular_content_p{
    font-family: BebasNeueBold;
    font-size: 23.65px;
    color:white;
    margin: 0;
    font-weight: 400;
}

.popular_content_h2{
    font-family: BebasNeueBold;
    font-size: 35px;
    color:white;
    margin: 0;
}
/*  */

.right_popular{
    width: 48%;
    float: right;
}

.right_popular_maindiv1{
    position: relative;
}

.right_popular2 img{
    width: 100%;

}

.right_popular2_content{
    position: absolute;
    top: 15px;
    left: 15px;
}

.right_popular_maindiv2{
    position: relative;
}

.right_popular3{
    margin-top: 28px;
}

.right_popular3 img{
    width: 100%;
}

.right_popular3_content{
  position: absolute;
  top: 15px;
  left: 15px;
}

/* popular section end here */


/* order section start here */
.order .container{
    text-align: center;
}

.order_p{
    padding: 8px;
    width: 15%;
    font-size: 25px;
    color: #3d2514;
    background-color: #ffc045;
    display: inline-block;
}

.order_h{
    font-family: AlfaSlabOne;
    font-size:50px;
    color: #3d2514;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.order_p2{
    width: 88%;
    margin: auto;
    font-family: Montserrat;
    font-size: 16.67px;
    text-align: center;
}

.order_wrapper{
    overflow: hidden;
    margin: 40px 0;
}

.single{
    width: 30%;
    float: left;
    margin-right: 57px;
}
.single h2{
    font-size: 37.5px;
}
.single p{
    font-family: Montserrat;
    font-size: 16.67px;
    margin: 10px 0;
}
.single img{
    width: 100%;
}

.order_wrapper .single:last-child{
    margin-right: 0;
}

button{
    margin-top: 15px;
    padding: 10px 20px;
    font-family: AlfaSlabOne;
    color: #ffffff;
    background-color: #bf2222;
    text-transform: uppercase;
    border: none; 
    cursor: pointer;
}
/* order section end here */

/* main section start here */
.main{
    margin: 50px 0;

}

.wrapper2{
    overflow: hidden;
    padding: 15px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;

}

.wrapper2_left{
    width: 40%;
    float: left;
}

.main_p{
    font-size: 29.17px;
    margin-bottom: 5px;
}

.wrapper2 h2{
    font-family: AlfaSlabOne;
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
}

.main_p2{
    font-family: Montserrat;
    font-size: 20.83px;

}

.wrapper2_right{
    width: 50%;
    float: right;
}

.wrapper2_right_image img {
    width: 100%;
}

/* main section end 


/* form area start here */

.form_area{
    overflow: hidden;
}
.form_area p{
    margin-bottom: 10px;
    font-size: 29.17px;
    color: #3d2514;
    text-align: center;

}

.form_area h1{
    font-family: AlfaSlabOne;;
    font-size:45px;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.form_design{
    padding: 40px 0;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.form_design input{
    width: 43%;
    padding: 12px 8px;
    margin: 10px 5px;
    margin-right: 22spx;
    font-family: BebasNeueRegular;
    font-size: 20.83px;
    color: #3d3d3d;
    border-radius: 5px;
    border: 1px solid #bebebe;
}

.form_design .btn_design{
    width: 45%;
    font-family: AlfaSlabOne;
    font-size: 20px;
    background-color:#bf2222;
    color:#ffffff;
    text-transform: uppercase;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
}

.form_area_image1{
    width: 15%;

}
.form_area_image1 img{
    width: 100%;

}

.form_area_image2{
    width: 13%;

}

.form_area_image2 img{
    width: 100%;
}

.form_area_image3{
    width: 16%;

}

.form_area_image3 img{
    width: 100%;
}

.form_area_wrapper{
        padding-bottom: 79px;
    position: relative;
    overflow: hidden;
}
.form_area_image1{
    position: absolute;
    top: 0;
    left: 0;
}

.form_area_image2{
    position: absolute;
    top: 0;
    margin-top: 190px;
    margin-left: 190px;
}

.form_area_image3{
   position: absolute;
   right: 0;
   top: 0;
   margin-top: 220px;
}

/* form area end here */


/* social area start here */

 .social_img{
     background-image: url(../images/social_background.png);
     background-repeat: no-repeat;
     background-size: cover;
 }

 .social_img{
     overflow: hidden;
     width: 100%;
     margin: 0 auto;
     padding-top: 60px 0;
     
 }

 .social_left{
     width: 55%;
     float: left;
 }

.social_media_wrapper{
    overflow: hidden;
    margin-top: 45px;
}


 .container_img{
     width: 60%;
     margin-top: 50px;


 }

 .container_img img{
     width: 100%;


 }

 .social_left p{
     width: 80%;
     margin-top: 35px;
     font-family: Montserrat;
     font-size: 16.67px;
     color: white;
    
 }

.social_right{
    width: 25%;
    float: right;
    margin-top: 180px;
}

.social_right img{
    width: 20px;
    height: 20px;
    margin-right: 15px;
   
}


.social_right a{
    font-size: 20.83px;
    color: white;
    text-decoration: none;
    
}

.social_menu{
    overflow: hidden;
    margin-top: 140px;
    
}

.social_menu_content{
    width: 30%;
    float: left;
    margin-top: 28px;
   
    
  

}

.social_menu_content span{
    font-family: BebasNeueRegular;
    font-size: 16.67px;
    color: white;
    letter-spacing: 1px;
}

.social_media_icon{
    width: 35%;
    float: right;

}


.social_media_icon ul{
    float: right;

}
.social_media_icon ul li{
    float: left;
    padding: 0px 10px;
    list-style: none;
    

}

/* .social_media_icon ul li a{

} */
